/****** General ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  border: solid;
}

.card {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** Hebergements And Populaires ***********/

/****** Hebergements ***********/

/****** Populaires ***********/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
}
